/* .super{
    margin-left: 285px;
    width: 100px;
}
.thirst{
    margin-top: 120px;
}

.first{
    margin-top: 120px;
}

.second{
    margin-top: 120x;
}

button{
    width: 654px;
    margin-left: 76px;
} */

.PILLA1{
    font-size: 15px;
}
button{
    margin-bottom: 10px;
}

