table, tr, td{
    border: 1px solid white;
    border-collapse: collapse;
}
td{
    padding-left: 55px;
}
.first{
    margin-left: 25px;
}
i{
    font-size: smaller;
}
.fab fa-instagram{
    font-size: smaller;
}

.balo{
    margin-top: 6px;
    margin-right: 5px;
}

svg{
    margin-bottom: 5px;
    height: 5px;
}